<!DOCTYPE html>
<html lang="ko">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<title>TODO List 프로그램</title>
		
		<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="/webjars/font-awesome/5.5.0/css/all.css">
	</head>


	<body>
		<div class="container" style="padding-top:20px;">
		
			<div class="page-header">
				<blockquote class="blockquote">
				  	<h2>TODO List Application <small><span class="text-muted">pre work</span></small></h2>
				</blockquote>
		    </div>
		    
		    <hr>  
		  
		  
	      
	      <!-- 신규입력폼 -->
		  <div class="form-group row">
		    <div class="col-sm-7">
			      <input type="text" class="form-control"  id="input_job" placeholder="'할일(TODO)'을 입력 후 엔터키(Enter Key) 또는 등록 버튼을 클릭하세요" onkeyup="fn_enterKeyEvent()">
			      <small id="input_job_help" class="form-text text-muted">엔터키로 입력 가능합니다.</small>
		    </div>
		    <div class="col-sm-3">
		    	<button type="button" class="btn btn-danger" id="btn_register"><i class="fas fa-pencil-alt"></i> 등록</button>  
		    </div>
		    <div class="col-sm-2 text-right">
		    	<button type="button" class="btn btn-primary" id="btn_refresh"><i class="fas fa-sync-alt"></i> 새로고침</button>  
		    </div>
		  </div>
		  
	      	
	      <p/>	
	      	
	      <table class="table table-hover table-bordered">
			  <thead class="thead-dark">
			    <tr>
			      <th class="text-center" scope="col">id</th>
			      <th class="text-center" scope="col">할일</th>
			      <th class="text-center" scope="col">작성일시</th>
			      <th class="text-center" scope="col">최종수정일시</th>
			      <th class="text-center" scope="col">완료처리</th>
			      <th class="text-center" scope="col">button</th>
			    </tr>
			  </thead>
			  <tbody id="tbody_todo_list" />
			</table>
			
			
			
			<!------------------------------ Pagination 영역---------------------------------------- -->
			<div class="row">
				
				<div class="col-md-2 text-left">
			      	<span class="text-info">
			      		전체 <span id="result_count"></span>건
			      		 (<span id="current_page"></span>/<span id="total_page"></span> page )
			      	</span>
			    </div>
			    
			    <div class="col-md-8 text-center">
			    	<nav id="nav_pagination"></nav>	  
			    </div>
			    
			    <div class="col-md-2 text-right">
			    	  
			    </div>
		    </div>
			
			
			
	     
		</div>
	
	
	
	
	
	
	
	
	
		<!-- javascript 영역 -->
		<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
		<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		
		
		<script type="text/javascript">
			
			// onload 이벤트
			$(document).ready(function(){
				
				// 등록 버튼 onclick 이벤트
				$("#btn_register").on('click', function(){ fn_register(); });
				
				// 새로고침 버튼 onclick 이벤트
				$("#btn_refresh").on('click', function(){ fn_refresh(); });
				
				
				// 초기데이터 로드
				fn_refresh(1);
				
			});
			
			
			
			// TODO 리스트 등록
			function fn_register(){
				
				// 1. validation
				if( $("#input_job").val() == null || $("#input_job").val() == '' ){
					alert('할일(TODO)의 내용을 입력 후 등록 버튼을 클릭하세요.');
					$("#input_job").focus();
					return false;
				}
				
				// 2. REST API 호출 (POST)
				$.ajax({
					url 		:	"/todo",
					method	: 	"post",
					dataType	:	"json",
					data		:	{ 
							"job" 		:	$("#input_job").val()
					},
					success	:	function(data){
						
						// 1. 조회
						fn_refresh(1);
												
						// 2. clear
						$("#input_job").val(''); 
						
					},
					error		:	function(request, status, error){
						alert("[TODO LIST 등록 중 에러 발생] code : " + request.status + "\n" + "message : " + request.responseText + "\n" + "error : " + error);
					}
				});
				
			}
			
			
			
			// TODO 리스트 새로고침(조회)
			function fn_refresh(page){
				
				// 0. 환경설정
				var currentPage = 0;	// 현재페이지 값				
				if( page != '' && page != null ){
					currentPage = page-1;		// 페이지값이 0부터 시작되기 때문에 -1 한다.
				}
				
				
				// 1. REST API 호출 (GET)
				$.ajax({
					url 		:	"/todo",
					method	: 	"get",
					dataType	:	"json",
					data		:	{
						"size"		:	5,
						"page"	:	currentPage
					},
					success	:	function(data){
						
							// ################################### 1. TBODY 영역 ###########################################
							var todoListHtml = '';
							
							// 조회결과 있을 시(HTML생성)
							$(data.content).each( function( i, item ){							
								todoListHtml += makeToDoTrHtml(item);	// TR태그 HTML 생성										
							});
													
							// 조회결과 없을 시(안내문구 생성)
							if( data.totalElements == 0 ){
								todoListHtml += "<tr height=100>";
								todoListHtml += "	<td class='text-center text-danger' colspan='6' style='vertical-align:middle;'>조회결과가 없습니다.</td>";
								todoListHtml += "</tr>";
							}
							
							$("#tbody_todo_list").html(todoListHtml);	// 새로운 HTML 주입
							// ############################################################################################
							
							
							
							// ################################### 2. 하단 페이징 영역 ###########################################
							
							// [LEFT] 전체건수
							$("#result_count").html( data.totalElements );		// 전체 건수
							$("#current_page").html( data.totalPages==0 ? 0 : data.number+1 );	// 현재페이지(조회 결과가 없을 경우 0으로 셋팅)
							$("#total_page").html( data.totalPages );	// 전체페이지
							
							
							// [CENTER] 페이징 HTML 생성
							$("#nav_pagination").html( makeToDoNavHtml( data.first, data.last, data.number+1, data.totalPages ) );
							
							// ############################################################################################
							
						
					},
					error		:	function(request, status, error){
						
							alert("[TODO LIST 조회 중 에러 발생] code : " + request.status + "\n" + "message : " + request.responseText + "\n" + "error : " + error);
						
					}
				}); // end ajax
				
				
			}
			
			
			
			// TODO 리스트 삭제
			function fn_delete(id){
				
				// 1. confirm
				if( !confirm( "해당 데이터를 삭제하시겠습니까?\n\n[ID] : " + id ) ){
					return false;
				}
				
				// 2. REST API 호출 (POST)
				$.ajax({
					url 		:	"/todo/" + id,
					method	: 	"delete",
					dataType	:	"json",
					data		:	{ 
							"id" 		:	id
					},
					success	:	function(data){
						
						alert('정상적으로 삭제 되었습니다.');
						
						// 1. 조회
						fn_refresh(1);												
							
					},
					error		:	function(request, status, error){
						alert("[TODO LIST 삭제 중 에러 발생] code : " + request.status + "\n" + "message : " + request.responseText + "\n" + "error : " + error);
					}
				});
				
			}
			
			
			// TODO 리스트 수정
			function fn_update(id){
				
				var job = $("#update_job_val_" + id).val();
				
				// 1. confirm
				if( !confirm( "해당 데이터를 수정하시겠습니까?\n\n[ID] : " + id + "\n[할일] : " + job  ) ){
					return false;
				}
				
				// 2. REST API 호출 (POST)
				$.ajax({
					url 		:	"/todo/" + id,
					method	: 	"put",
					dataType	:	"json",
					data		:	{ 
							"id" 		:	id,
							"job"		:	job
					},
					success	:	function(data){
						
						alert('정상적으로 수정 되었습니다.');
						
						// 1. 조회
						fn_refresh(1);												
							
					},
					error		:	function(request, status, error){
						alert("[TODO LIST 수정 중 에러 발생] code : " + request.status + "\n" + "message : " + request.responseText + "\n" + "error : " + error);
					}
				});
				
			}
			
			
			// TODO 리스트 수정모드 변경
			function fn_change_update_mode(btn_obj){
				
				// 1. 수정을 위한 환경설정
				var tr_obj = $(btn_obj).parents('tr');		// 버튼의 상위 tr 객체 select 
				var td_job_obj = $(tr_obj).find("td[data-job]");  // 속성값이 data-job 인 td 객체 select
				var td_button_obj = $(tr_obj).find("td[data-button]");  // 속성값이 data-button 인 td 객체 select
				var id = $(tr_obj).find("th[data-id]").text();  // 속성값이 data-button 인 th 객체의 text
				
				
				// 2. 입력 input 에 기존 문구 셋팅				
				$(tr_obj).addClass('table-warning');	// 색상변경						
				var update_html = "<input type='text' class='form-control' id=update_job_val_"  + id +" value=" + $(td_job_obj).text() + ">";
				$(td_job_obj).html(update_html);
			
				
				// 3. 버튼변경
				$(td_button_obj).html( makeToDoUpdateBtnHtml(id) );
				// 저장, 취소 이미지로 변경하는 부분 삽입...
			}
			
			
			
			// TODO 리스트 수정모드 취소 처리
			function fn_update_cancel( id ){
				
				// 1. REST API 호출 (GET)
				$.ajax({
					url 		:	"/todo/" + id,
					method	: 	"get",
					dataType	:	"json",
					data		:	{ 
							"id" 		:	id
					},
					success	:	function(data){
						var orgHtml = makeToDoTdHtml(data);
						$("tr#todo_tr_data_" + id).html( orgHtml );	// 원래의 html로 다시 drawing
						$("tr#todo_tr_data_" + id).removeClass('table-warning');	// 색상변경 원복	
					},
					error		:	function(request, status, error){
						alert("[TODO LIST 수정 취소 중 에러 발생] code : " + request.status + "\n" + "message : " + request.responseText + "\n" + "error : " + error);
					}
				});
				
				
			}
			
			
			
			
			// TR 태그 HTML 태그 동적 생성
			function makeToDoTrHtml(json_data){
								
				var html = "";

				html += "<tr id=todo_tr_data_" + json_data.id + ">";
				html += "		<th data-id class='text-center' scope='row'>" + json_data.id + "</th>";
				html += "		<td data-job>" + json_data.job + "</td>";
				html += "		<td data-reg_date class='text-center'>" + json_data.regDate + "</td>";
				html += "		<td data-final_update_date class='text-center'>" + json_data.finalUpdateDate + "</td>";
				
				if( json_data.complete ){
					html += "		<td class='text-center'>완료</td>";
				}else{
					html += "		<td class='text-center'>미완료</td>";
				}
				
				html += "		<td class='text-center' data-button>";
				html += "			<button type='button' class='btn btn-outline-success btn-sm' onclick='fn_change_update_mode(this)' ><i class='fas fa-edit'></i> 수정</button>";
				html += "			<button type='button' class='btn btn-outline-danger btn-sm' onclick='fn_delete(" + json_data.id + ")'><i class='fas fa-trash'></i> 삭제</button>";
				html += "		</td>";
				html += "</tr>";
								
				return html;
			}
			
			
			
			// TD 태그 HTML 태그 동적 생성 (1건의 TODO 정보 다시 조회할 때 호출)
			function makeToDoTdHtml(json_data){
								
				var html = "";

				html += "		<th data-id class='text-center' scope='row'>" + json_data.id + "</th>";
				html += "		<td data-job>" + json_data.job + "</td>";
				html += "		<td data-reg_date class='text-center'>" + json_data.regDate + "</td>";
				html += "		<td data-final_update_date class='text-center'>" + json_data.finalUpdateDate + "</td>";
				
				if( json_data.complete ){
					html += "		<td class='text-center'>완료</td>";
				}else{
					html += "		<td class='text-center'>미완료</td>";
				}
				
				html += "		<td class='text-center' data-button>";
				html += "			<button type='button' class='btn btn-outline-success btn-sm' onclick='fn_change_update_mode(this)' ><i class='fas fa-edit'></i> 수정</button>";
				html += "			<button type='button' class='btn btn-outline-danger btn-sm' onclick='fn_delete(" + json_data.id + ")'><i class='fas fa-trash'></i> 삭제</button>";
				html += "		</td>";
								
				return html;
			}
			
			
			
			// Pagination HTML 태그 동적 생성
			function makeToDoNavHtml(first, last, curPage, totalPage){
				
				var html = "";
				
				html += "<ul class='pagination justify-content-center'>";
				
				if(first){
					html += "		<li class='page-item'>";
				}else{
					html += "		<li class='page-item disabled'>";
				}
				
				html += "			<a class='page-link' href='#'>Previous</a>";
				html += "		</li>";
				html += "		<li class='page-item'><a class='page-link' href='javascript:fn_refresh(1);'>1</a></li>";
				
				if(last){
					html += "		<li class='page-item'>";
				}else{
					html += "		<li class='page-item disabled'>";
				}
				
				html += "			<a class='page-link' href='#'>Next</a>";
				html += "		</li>";
				html += "</ul>";
				
				return html;
				
			}
			
			// 수정버튼 HTML 태그 동적 생성
			function makeToDoUpdateBtnHtml(id, org_html){
				
				var html = "";
				
				html += "			<button type='button' class='btn btn-success btn-sm' onclick='fn_update(" + id + ")' ><i class='fas fa-save'></i> 저장</button>";
				html += "			<button type='button' class='btn btn-danger btn-sm' onclick='fn_update_cancel(" + id + ")'><i class='fas fa-ban'></i> 취소</button>";
				
				return html;
			}
			
			
			
			// 엔터키 이벤트 처리 함수
			function fn_enterKeyEvent(){
				if(event.keyCode == 13){
					fn_register();	// 등록요청	
				}
			}
		
		</script>
		
		
		
	</body>



</html>
